<p class="center checkin"><a id="view-checkin-form" href="#">click here to add text to your check-in</a></p>

<p class="center checkin"><a id="hide-checkin-form" href="#">click here to hide check-in forms</a></p>