<% provide(:page_title, "codehab.it [home]") %>

<div class="center hero-unit">
  <h1>welcome to codehab.it</h1>

  <h2>
    build the habit of code.
  </h2>

  <p>
  codehab.it enables you to write short blog posts about   what you're learning, what problems you're having, and how you're (hopefully) figuring them out. 
  </p>
  <p>
  <strong>after all, the best way to learn something is to teach it, right?</strong> 
  </p>
  <p>remember: we're all in this together. we're all newbs at some part of programming. and we're all trying to build a solid code habit.
  </p>

  <%= link_to "sign in with GitHub!", "#", class: "btn btn-large btn-primary" %>
</div>