<footer class="footer">
  <small>
    codehab.it
    by <a href="#" target="_blank">franl</a>
  </small>
  <!-- <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav> -->
</footer>